{{>head }}


   
{{>navbar }}

   <div class="col-8">
<h1>Probando Express</h1>
<p>Clase 69: usando parciales con HBS</p>
   </div>

   <div class="col-4">
       <img src="/assets/img/paradrop.png"  class="img-thumbnail">
   </div>


{{>footer}}